{
  # Disable the internal admin of Caddy 
  admin off

  # Your email, to generate SSL certificates
  email {$CADDY_CERT_EMAIL}
}

# This is for portainer
{$CADDY_HOSTNAME_PORTAINER} {

  # Hide server header field
  header /* {
    -Server
  }

  # Compress with gzip --best
  encode {
    gzip 9
  }
  
  # Reverse proxy to the Portainer UI
  reverse_proxy {
    to http://ui:9000
    header_up X-Forwarded-Proto {scheme}
    header_up X-Forwarded-For {remote}
    header_up X-Real-IP {remote}
  }

}

# This is for the static site
{$CADDY_HOSTNAME_SITE} {

    # Hide server header field
    header /* {
        -Server
    }

    # Cache js-dos assets
    header /jsdos/* {
        Cache-Control "public, max-age=31536000"
    }

    # Compress with gzip --best
    encode {
        gzip 9
    }

    # Serving a WebAssembly based emulator (js-dos).
    file_server {
        root /srv  
        precompressed br
        index tetris.html
    }

    # HTTP2 server push
    push / /jsdos/wdosbox.wasm


}
